img {
  width 750px;
}
body {
  background-color: green;
}
h1 {
  color: white;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif
}
p {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 14px;
}
